<div class="contextual">
  <% if User.current.allowed_to?(:manage_issue_relations, @project) %>
      <%= toggle_link l(:button_add), 'new-custom-relation-form', {:focus => 'relation_issue_to_id'} %>
  <% end %>
</div>
<p><strong><%=l(:label_related_issues)%></strong></p>
<% custom_relations = CustomRelation.includes(:custom_relation_type).where(issue_from_id: @issue.id).order('custom_relation_types.order_index')%>
<% if custom_relations.present? %>
    <form>
      <table class="list issues">
        <% custom_relations.each do |relation| %>
            <% other_issue = relation.issue_to %>
            <tr class="issue <%= other_issue.css_classes %>" id="custom-relation-<%= relation.id %>">
              <td class="subject" style="width: 50%">
                <%= "#{relation.custom_relation_type_title} " %>
                <%= link_to_issue(other_issue, :project => Setting.cross_project_issue_relations?) %>
              </td>
              <td class="status"><%= other_issue.status.name %></td>
              <td class="start_date"><%= format_date(other_issue.start_date) %></td>
              <td class="due_date"><%= format_date(other_issue.due_date) %></td>
              <td class="buttons"><%= link_to(l(:label_relation_delete),
                                              custom_relation_path(relation),
                                              :remote => true,
                                              :method => :delete,
                                              :data => {:confirm => l(:text_are_you_sure)},
                                              :title => l(:label_relation_delete),
                                              :class => 'icon-only icon-link-break'
                                      ) if User.current.allowed_to?(:manage_issue_relations, @project) %></td>
            </tr>
        <% end %>
      </table>
    </form>
<% end %>